*.[od]
*.[oc]~
.*.cmd
.cproject
.project
/.settings
/tools/qemu-system/windows/*
!/tools/qemu-system/windows/*.bat
/tools/qemu-system/linux/*
!/tools/qemu-system/linux/*.sh
/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json